build-sdl_app-Desktop_Qt_5_3_0_MinGW_32bit-Debug/
SDL2/
SDL2_image-bin/
SDL2-bin/
*.obj
*.tlog
*.idb
*.pdb
*.sdf
*.opensdf
*.manifest
*.lastbuildstate
*.ipch
*.docx#
*.orig
*.o
*.Debug
build-sdl_app-Desktop_Qt_5_3_MinGW_32bit-Debug/Makefile
build-sdl_app-Desktop_Qt_5_3_MinGW_32bit-Debug/Makefile.Release
build-sdl_app-Desktop_Qt_5_3_MinGW_32bit-Debug/debug/sdl_app.exe
build-sdl_app-Desktop_Qt_5_3_MinGW_32bit-Debug/object_script.sdl_app.Release
